.cta {
  .form-input {
    border-color: transparent;
    border-radius: 2px;
    width: 100%;
  }
  .form-items {
    width: 100%;
  }
  .address-items {
    padding-top: 80px;
    width: 100%;
  }
}

.cta-inner {
  padding-left: 16px;
  padding-right: 16px;
  background-image: url(../../../images/illustration-section-01.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right bottom;
}

@include media(">medium") {
  .cta {
    .contact-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .form-items {
      width: 50%;
    }
    .address-items {
      padding-top: 0;
      width: 30%;
    }
  }
}
